<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">페이지</title>
    <!-- Head -->
    <th:block th:replace="fragments/commonHead"></th:block>
</head>
<body>
    <!-- Navbar -->
    <th:block th:replace="fragments/commonNavbar :: commonNavbar"></th:block>

    <!-- 페이지 컨텐츠 -->
    <th:block layout:fragment="content"></th:block>
    
    <!-- Script -->
    <th:block th:replace="fragments/commonScript"></th:block>
    <th:block layout:fragment="pageCustomScript"></th:block>
</body>
</html>